html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* 余白部分の色 */
}

canvas {
    width: 100%;
    height: auto;
    max-height: 100vh;
    display: block;
}
